body{
    margin : 0;
    padding : 0;
    font-family: Arial, Helvetica, sans-serif;
}
section {
    background: rgb(15, 15, 15);
    height:100vh;
    overflow-y: hidden;
}
section h1{
    color: white;
    text-align: center;
    font-size: 50px;
}

section h2{
    color: white;
    text-align: center;
    font-size: 20px;
}

section p{
    color: white;
    text-align: center;
    font-size: 15px;
    
}

/*PRESENTATION*/

section.presentationInfo{
    display:flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 7%;
}

.presentationSocialMedia{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.profileImg img{
    width: 300px;
    height: 300px;
    border-radius: 30%;
}

.profileLinks{
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 5%;
    margin-top: 10%;
}

.profileLinks img{
    width: 30px;
    height: 30px;
}

.presentationText{
    display: flex;
    flex-direction: column;
}

/* ABOUT ME*/
.aboutPresentationImg{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: 8%;
    gap: 5%;
}

.aboutPresentation{
    width: 40%;
    padding: 2%;
}

.aboutPresentation p{
    text-align: justify;
    font-size: 18px;
    line-height: 1.3;
}

.aboutImg img{
    width: 370px;
    height: 400px;
    border-radius: 5%;
}

/*Experience*/

.experience{
    color: white;
}

.workList{
    margin: 5%;
    display: flex;
    flex-direction: column;
}

.workListUp{
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 5%;
    margin-bottom: 3%;
}

.workListDown{
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 5%;
}

.workItem{
    width: 500px;
    background-color: rgb(58, 58, 58);
    border-radius: 4%;

}

.workItem h3{
    text-align: center;
    padding-top: 3%;
}

.workItem h4{
    text-align: center;
    font-weight: normal;
    font-style: italic;
}

.workItem p{
    text-align: justify;
    padding: 5%;
    font-size: 15px;
    line-height: 1.3;
}

.workItemSub{
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 10%;
}

/*School*/

.school{
    color: white;
}

.schoolList{
    margin: 5%;
    display: flex;
    flex-direction: column;
}

.schoolListUp{
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 5%;
    margin-bottom: 3%;
}

.schoolListDown{
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 5%;
}

.schoolItem{
    width: 500px;
    background-color: rgb(58, 58, 58);
    border-radius: 4%;

}

.schoolItem h3{
    text-align: center;
    padding-top: 3%;
}

.schoolItem h4{
    text-align: center;
    font-weight: normal;
    font-style: italic;
}

.schoolItem p{
    text-align: justify;
    padding: 5%;
    font-size: 15px;
    line-height: 1.3;
}

.schoolItemSub{
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 10%;
}

/* Skills */

.skillsList{
    color: white;
    margin: 5%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 5%;
}
.separator{
    height: 500px;
    background-color: white;
    width: 10px;
    margin-top: 40px;
    margin-left: 50px;
}

.skillsContainer{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}
.skillsList li{
    font-size: 18px;
    line-height: 1.5;
    padding: 10px;
}
.ability{
    color: white;
    margin: 5%;
    display: flex;
    flex-direction: column;
    justify-content: start;
    gap: 5%;
}
.ability li{
    font-size: 18px;
    line-height: 1.5;
    padding: 10px;
}

/* CONTACT */


.contactInfo {
    color: white;
    text-align: center;
    width: 60%;
    margin: 0 auto;
    margin-top: 100px;
}

.contactInfo p {
    font-size: 18px;
    margin-bottom: 50px;
}

.contactForm {
    display: flex;
    flex-direction: column;
    gap: 30px;
    align-items: center;
}

.formGroup input,
.formGroup textarea {
    width: 100%;
    max-width: 500px;
    padding: 20px 25px;
    border: none;
    border-radius: 8px;
    background-color: rgb(40, 40, 40);
    color: white;
    font-size: 16px;
}

.formGroup input::placeholder,
.formGroup textarea::placeholder {
    color: rgb(180, 180, 180);
}

button {
    margin-top: 10px;
    padding: 10px 30px;
    font-size: 16px;
    color: white;
    background-color: rgb(90, 90, 255);
    border: none;
    border-radius: 8px;
    cursor: pointer;
}

button:hover {
    background-color: rgb(60, 60, 255);
}




